html,
body {
  height: 105%;
  margin: 0;
}
#root{
    height:100%;
    width:100%;
}
.top-anchor{
    width: 100%;
    height: 1%;
    margin-bottom: 200px;
}
.bottom-anchor{
    width: 100%;
    height: 1%;
    margin-top: 200px;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

video {
    width: 640px;
    height: 360px;
}

.video-controls{
    border: grey;
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .play-pause-button{
        float: left;
        width: 30px;
        padding:2px;
    }

    .change-resolution-menu{
        float: right;
        padding: 2px;
    }

    .seek-bar{
        cursor: pointer;
        height: 10px;
        margin-bottom: 10px;
        outline: thin-solid-orange;
        overflow: hidden;
        position: relative;
        width: 80%;
        border: grey;
        border-style: solid;
        border-width: 1px;
    }

    .resolution-menu{
        top:254px;
        border: white;
        border-width: 1px;
        border-style: solid;
        background-color: grey;
        color:white;
        position:absolute;
        ul{
            margin-top: 5px;
            margin-bottom: 5px;
            list-style-type: none;
            padding-left: 5px;
            li{
                margin: 2px;
                border:white;
                border-width: 1px;
                border-style: solid;
                text-align: center;
            }
        }
    }
}

.like-button-container{
    display:flex
}
.infinite-scroll-container{
    height: 100%;
    width: 100%;
}